<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjzs.gold.main.mapper.TSupportMapper">
  <resultMap id="BaseResultMap" type="com.yjzs.gold.main.bean.TSupport">
    <result column="sup_id" jdbcType="INTEGER" property="supId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="fund_id" jdbcType="INTEGER" property="fundId" />
    <result column="fund_zrjz" jdbcType="DECIMAL" property="fundZrjz" />
    <result column="sup_money" jdbcType="DECIMAL" property="supMoney" />
    <result column="sup_price" jdbcType="DECIMAL" property="supPrice" />
    <result column="sup_num" jdbcType="DECIMAL" property="supNum" />
    <result column="sup_profit" jdbcType="DECIMAL" property="supProfit" />
    <result column="sup_total_money" jdbcType="DECIMAL" property="supTotalMoney" />
    <result column="suo_date" jdbcType="TIMESTAMP" property="suoDate" />
    <result column="sup_status" jdbcType="CHAR" property="supStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sup_id, user_id, fund_id, fund_zrjz, sup_money, sup_price, sup_num, sup_profit, sup_total_money, 
    suo_date, sup_status
  </sql>
  <select id="selectByExample" parameterType="com.yjzs.gold.main.bean.TSupportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_support
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yjzs.gold.main.bean.TSupportExample">
    delete from t_support
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yjzs.gold.main.bean.TSupport">
    insert into t_support (sup_id, user_id, fund_id, 
      fund_zrjz, sup_money, sup_price, 
      sup_num, sup_profit, sup_total_money, 
      suo_date, sup_status)
    values (#{supId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{fundId,jdbcType=INTEGER}, 
      #{fundZrjz,jdbcType=DECIMAL}, #{supMoney,jdbcType=DECIMAL}, #{supPrice,jdbcType=DECIMAL}, 
      #{supNum,jdbcType=DECIMAL}, #{supProfit,jdbcType=DECIMAL}, #{supTotalMoney,jdbcType=DECIMAL}, 
      #{suoDate,jdbcType=TIMESTAMP}, #{supStatus,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yjzs.gold.main.bean.TSupport">
    insert into t_support
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="supId != null">
        sup_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="fundId != null">
        fund_id,
      </if>
      <if test="fundZrjz != null">
        fund_zrjz,
      </if>
      <if test="supMoney != null">
        sup_money,
      </if>
      <if test="supPrice != null">
        sup_price,
      </if>
      <if test="supNum != null">
        sup_num,
      </if>
      <if test="supProfit != null">
        sup_profit,
      </if>
      <if test="supTotalMoney != null">
        sup_total_money,
      </if>
      <if test="suoDate != null">
        suo_date,
      </if>
      <if test="supStatus != null">
        sup_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="supId != null">
        #{supId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="fundId != null">
        #{fundId,jdbcType=INTEGER},
      </if>
      <if test="fundZrjz != null">
        #{fundZrjz,jdbcType=DECIMAL},
      </if>
      <if test="supMoney != null">
        #{supMoney,jdbcType=DECIMAL},
      </if>
      <if test="supPrice != null">
        #{supPrice,jdbcType=DECIMAL},
      </if>
      <if test="supNum != null">
        #{supNum,jdbcType=DECIMAL},
      </if>
      <if test="supProfit != null">
        #{supProfit,jdbcType=DECIMAL},
      </if>
      <if test="supTotalMoney != null">
        #{supTotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="suoDate != null">
        #{suoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="supStatus != null">
        #{supStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yjzs.gold.main.bean.TSupportExample" resultType="java.lang.Long">
    select count(*) from t_support
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_support
    <set>
      <if test="record.supId != null">
        sup_id = #{record.supId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.fundId != null">
        fund_id = #{record.fundId,jdbcType=INTEGER},
      </if>
      <if test="record.fundZrjz != null">
        fund_zrjz = #{record.fundZrjz,jdbcType=DECIMAL},
      </if>
      <if test="record.supMoney != null">
        sup_money = #{record.supMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.supPrice != null">
        sup_price = #{record.supPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.supNum != null">
        sup_num = #{record.supNum,jdbcType=DECIMAL},
      </if>
      <if test="record.supProfit != null">
        sup_profit = #{record.supProfit,jdbcType=DECIMAL},
      </if>
      <if test="record.supTotalMoney != null">
        sup_total_money = #{record.supTotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.suoDate != null">
        suo_date = #{record.suoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.supStatus != null">
        sup_status = #{record.supStatus,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_support
    set sup_id = #{record.supId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      fund_id = #{record.fundId,jdbcType=INTEGER},
      fund_zrjz = #{record.fundZrjz,jdbcType=DECIMAL},
      sup_money = #{record.supMoney,jdbcType=DECIMAL},
      sup_price = #{record.supPrice,jdbcType=DECIMAL},
      sup_num = #{record.supNum,jdbcType=DECIMAL},
      sup_profit = #{record.supProfit,jdbcType=DECIMAL},
      sup_total_money = #{record.supTotalMoney,jdbcType=DECIMAL},
      suo_date = #{record.suoDate,jdbcType=TIMESTAMP},
      sup_status = #{record.supStatus,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>