<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjzs.gold.user.mapper.TInfoMapper">
  <resultMap id="BaseResultMap" type="com.yjzs.gold.user.bean.TInfo">
    <result column="info_id" jdbcType="INTEGER" property="infoId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="info_total_money" jdbcType="DECIMAL" property="infoTotalMoney" />
    <result column="info_occupy_money" jdbcType="DECIMAL" property="infoOccupyMoney" />
    <result column="info_yjzs_profit" jdbcType="DECIMAL" property="infoYjzsProfit" />
    <result column="info_yjzs_tom_profit" jdbcType="DECIMAL" property="infoYjzsTomProfit" />
    <result column="info_date" jdbcType="TIMESTAMP" property="infoDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    info_id, user_id, info_total_money, info_occupy_money, info_yjzs_profit, info_yjzs_tom_profit, 
    info_date
  </sql>
  <select id="selectByExample" parameterType="com.yjzs.gold.user.bean.TInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yjzs.gold.user.bean.TInfoExample">
    delete from t_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yjzs.gold.user.bean.TInfo">
    insert into t_info (info_id, user_id, info_total_money, 
      info_occupy_money, info_yjzs_profit, info_yjzs_tom_profit, 
      info_date)
    values (#{infoId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{infoTotalMoney,jdbcType=DECIMAL}, 
      #{infoOccupyMoney,jdbcType=DECIMAL}, #{infoYjzsProfit,jdbcType=DECIMAL}, #{infoYjzsTomProfit,jdbcType=DECIMAL}, 
      #{infoDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yjzs.gold.user.bean.TInfo">
    insert into t_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="infoId != null">
        info_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="infoTotalMoney != null">
        info_total_money,
      </if>
      <if test="infoOccupyMoney != null">
        info_occupy_money,
      </if>
      <if test="infoYjzsProfit != null">
        info_yjzs_profit,
      </if>
      <if test="infoYjzsTomProfit != null">
        info_yjzs_tom_profit,
      </if>
      <if test="infoDate != null">
        info_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="infoId != null">
        #{infoId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="infoTotalMoney != null">
        #{infoTotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="infoOccupyMoney != null">
        #{infoOccupyMoney,jdbcType=DECIMAL},
      </if>
      <if test="infoYjzsProfit != null">
        #{infoYjzsProfit,jdbcType=DECIMAL},
      </if>
      <if test="infoYjzsTomProfit != null">
        #{infoYjzsTomProfit,jdbcType=DECIMAL},
      </if>
      <if test="infoDate != null">
        #{infoDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yjzs.gold.user.bean.TInfoExample" resultType="java.lang.Long">
    select count(*) from t_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_info
    <set>
      <if test="record.infoId != null">
        info_id = #{record.infoId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.infoTotalMoney != null">
        info_total_money = #{record.infoTotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.infoOccupyMoney != null">
        info_occupy_money = #{record.infoOccupyMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.infoYjzsProfit != null">
        info_yjzs_profit = #{record.infoYjzsProfit,jdbcType=DECIMAL},
      </if>
      <if test="record.infoYjzsTomProfit != null">
        info_yjzs_tom_profit = #{record.infoYjzsTomProfit,jdbcType=DECIMAL},
      </if>
      <if test="record.infoDate != null">
        info_date = #{record.infoDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_info
    set info_id = #{record.infoId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      info_total_money = #{record.infoTotalMoney,jdbcType=DECIMAL},
      info_occupy_money = #{record.infoOccupyMoney,jdbcType=DECIMAL},
      info_yjzs_profit = #{record.infoYjzsProfit,jdbcType=DECIMAL},
      info_yjzs_tom_profit = #{record.infoYjzsTomProfit,jdbcType=DECIMAL},
      info_date = #{record.infoDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>